<ion-menu #menu [contentId]="'content'" [menuId]="'main-menu'" [side]="'start'" [maxEdgeStart]="50" [swipeGesture]="true" [type]="'overlay'">
    <ion-header class="ion-no-border">
        <ion-toolbar id="header">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content id="menu-content">
        <app-user-profile></app-user-profile>
        <app-side-menu-items *ngFor="let item of this.share.SideMenuItems" (clicked)='this.selectItem(item)' [id]='item.id' [label]='item.label' [href]='item.href' [icon]='item.icon' [selected]='item.id === this.menuItem.id'></app-side-menu-items>
    </ion-content>
    <ion-footer class="ion-no-border">
        <ion-toolbar id="toolbar">
            <ion-item id="item" [lines]="'inset'" button (click)="this.logOut()">
                <ion-label>Salir</ion-label>
                <ion-icon name="log-out-sharp" slot="start" [color]="'secondary'"></ion-icon>
            </ion-item>
        </ion-toolbar>
    </ion-footer>
</ion-menu>