#showPass {
    --background: var(--ion-color-step-50);
    margin-bottom: 0.3rem;
    //--color: var(--ion-color-step-950);
}

#showPassToggle {
    --background: var(--ion-color-step-150);
    --handle-background: var(--ion-color-step-150);
    --handle-background-checked: #6d09f8;
    --background-checked: #7d23fa;
    bottom: 0.5rem;
}

ion-label {
    color: var(--ion-color-step-950);
}

#passInput {
    border-bottom: 0.1rem solid var(--ion-color-step-200);
    margin-bottom: 2rem;
    font-family: 'Montserrat Light';
}