<!-- <ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input type="{{type}}" required placeholder="Password" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-item lines="none" id="showPass">
  <ion-toggle (click)="showPasswordMethod()"></ion-toggle>
  <ion-label>Mostrar contraseña</ion-label>
</ion-item> -->
<ion-label position="stacked">Contraseña</ion-label>
<ion-input type="{{type}}" required placeholder="Contraseña" [(ngModel)]="password" id="passInput"></ion-input>
<ion-row id='showPass'>
    <ion-toggle id="showPassToggle" (click)="showPasswordMethod()"></ion-toggle>
    <ion-label>Mostrar contraseña</ion-label>
</ion-row>