<svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#f1f2f3;display:block;z-index:1;position:relative" width="393" height="824" preserveAspectRatio="xMidYMid" viewBox="0 0 393 824">
    <g transform=""><circle cx="0" cy="0" r="912.9211356957402" fill="#0399E2" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-1.9607843137254901s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="829.9283051779456" fill="#1A9ED3" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-1.7825311942959001s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="746.9354746601512" fill="#31A2C5" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-1.6042780748663101s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="663.9426441423565" fill="#48A7B6" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-1.4260249554367201s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="580.9498136245619" fill="#5FACA7" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-1.2477718360071302s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="497.9569831067673" fill="#76B198" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-1.06951871657754s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="414.9641525889728" fill="#8CB58A" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-0.8912655971479501s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="331.97132207117824" fill="#A3BA7B" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-0.7130124777183601s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="248.97849155338366" fill="#BABF6C" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-0.53475935828877s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="165.98566103558912" fill="#D1C45D" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-0.35650623885918004s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="82.99283051779456" fill="#E8C84F" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="-0.17825311942959002s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle><circle cx="0" cy="0" r="0" fill="#FFCD40" fill-opacity="0.99">
      <animateTransform attributeName="transform" type="scale" repeatCount="indefinite" dur="1.9607843137254901s" begin="0s" keyTimes="0;0.5;1" values="0.986;1.014;0.986" keySplines="0.4 0 0.6 1;0.4 0 0.6 1" calcMode="spline"></animateTransform>
    </circle></g>
    </svg>
<ion-grid fixed>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <app-login-form (loggingIn)='this.displaySpinner = $event'></app-login-form>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="6" class="ion-padding" id="usersCol">
            <ion-button (click)="displayUserList()" expand="block" fill="outline" color="secondary" mode='ios'>Elegir usuario</ion-button>
        </ion-col>
    </ion-row>
    <ion-spinner *ngIf="this.displaySpinner" name="lines" mode="ios" color="secondary"></ion-spinner>
</ion-grid>
<ion-footer mode="ios" class="ion-text-center">
    <ion-toolbar>
        <ion-title [ngStyle]="{'color': 'white'}" size="small">{{this.author}} - {{this.appName}} (v{{this.version}})</ion-title>
    </ion-toolbar>
</ion-footer>