.form-field {
    width: 100%;
    --ion-color-base: transparent !important;
    --highlight-color-valid: var(--ion-color-secondary-shade);
    --highlight-color-invalid: red;
}

.input {
    color: white;
}

#icon {
    cursor: pointer;
    color: #ff0080;
}

#title {
    text-align: center;
    margin: 20px !important;
}