<form [formGroup]="passwordForm">
    <p id="title" class="p-center" [ngStyle]="{color: 'white'}">Por favor, ingresa tu contraseña para desactivar la alarma.</p>
    <ion-item class="form-field" color="primary">
        <ion-input class="input" required formControlName="password" [type]="this.passwordInputType"></ion-input>
        <ion-icon id="icon" slot="end" [name]="(this.passwordInputType === 'password')?'eye-off':'eye'" (click)="this.togglePassword()"></ion-icon>
    </ion-item>
    <ion-text *ngIf="this.passwordForm.controls['password'].invalid && this.passwordForm.controls['password'].touched" color="danger" [ngStyle]="{'font-size': '11px', 'margin-left': '12px'}">
        La contraseña ingresada es incorrecta.
    </ion-text>
</form>
<ion-button id="button" (click)="this.checkUserPassword()" mode="md" expand="block" fill="solid" color="tertiary" [disabled]="!this.passwordForm.valid">
    Desactivar
</ion-button>