<ion-app>
    <!-- <div *ngIf="showAnimation" class="splash" [class.popOutTop]="this.fadeOutAnimation == true" [class.vivify]="this.fadeOutAnimation == true">
        <div class="flash" id="flash" *ngIf="this.flash == true"></div>
        <img *ngIf="this.goodBuilding" src="../assets/edificio bien.png" id="edificioBien" class="vivify swoopInLeft duration-1250 img-fluid" alt="">
        <img *ngIf="this.badBuilding" src="../assets/edificio mal.png" id="edificioMal" class="vivify swoopInRight duration-1250 img-fluid" alt="">
        <img *ngIf="this.completeBuilding" src="../assets/edificio completo.png" id="edificioCompleto" class="img-fluid" alt="">
        <p *ngIf="this.completeBuilding" id="title" class="text-center">Opinapp</p>
    </div> -->
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
            <ion-toolbar>
                <ion-title>Navigate</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="true">
                    <ion-item routerDirection="forward">
                        QUE ONDAAAAAAAA
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>