.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #00ffff 50%, #ff0000 50%);
}

@mixin edificios {
    position: absolute;
    width: 35%;
    height: 35%;
    object-fit: contain;
}

#flash
{
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
}

.flash
{
    animation: flash;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

#title
{
    color: white;
    position: absolute;
    top: 70%;
    font-size: 300%;
}

#edificioBien, #edificioMal, #edificioCompleto
{
    @include edificios();
}

@keyframes flash
{
    0%
    {
        background-color: rgba(255, 255, 255, 0);
    }

    50%
    {
        background-color: white;
    }

    100%
    {
        background-color: rgba(255, 255, 255, 0);
    }
}