.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #6200ee 50%, #222428 50%);
}

@mixin shield {
    position: relative;
    left: 25%;
    height: 50%;
    width: 50%;
    object-fit: cover;
}

#qr {
    @include shield();
}

.scan {
    @include shield();
    top: 56%;
    background-color: rgba(47, 179, 223, 0.691);
    transition: transform 5s ease-in-out;
    z-index: 3;
    height: 2vh;
}

#money
{
    // @include shield();
    position: absolute;
    object-fit: contain;
    height: 30%;
    width: 30%;
    left: 12%;
    top: 50%;
    z-index: 50;

}

.aux {
    -webkit-transition: none !important;
    transform: translate(0%, -27vh);
}