<ion-content>
    <ion-grid>
        <ion-row id="centering-row">
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                <ion-row id="login-row">
                    <ion-col size="1"></ion-col>
                    <ion-col size="10">
                        <ion-label>Username:</ion-label>
                        <ion-input placeholder='Username'></ion-input>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                </ion-row>
                <ion-button expand='block'>Login</ion-button>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>