#formLogin {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.saveUser {
    margin-left: 1rem;
    --size: 1rem;
    font-size: 0.8rem;
}

#loginButton {
    margin-top: 2rem;
    --background: #6200EE;
    --background-hover: #6d09f8;
    --background-activated: #7d23fa;
}

#nameInput {
    border-bottom: 0.1rem solid var(--ion-color-step-200);
    margin-bottom: 1rem;
}

#formLogin,
#savePass {
    --background: var(--ion-color-step-50);
}

#savePassCheck {
    --background: var(--ion-color-step-150);
    --background-checked: #7d23fa;
    --border-color-checked: #7d23fa;
    --border-color: var(--ion-color-step-400);
}

ion-label {
    color: var(--ion-color-step-950);
}

#footer {
    border-top: 0.1rem solid var(--ion-color-step-100);
    position: relative absolute;
    #footerContent {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 1rem;
    }
}

.spinner-border {
    color: #6200EE;
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    position: fixed;
    bottom: 8rem;
}