<ion-content fullscreen class="animated fadeIn">
    <ion-card id="formLogin">
        <ion-card-content>
            <ion-label position="stacked">Nombre de usuario</ion-label>
            <ion-input type="text" required placeholder="Nombre de usuario" [(ngModel)]="userName" id="nameInput" (onkeypress)="checkEmptyInputs()"></ion-input>
            <app-password (passwordSender)="recievePassword($event)" [password]="this.password"></app-password>
            <ion-row id="savePass">
                <ion-checkbox id="savePassCheck" class="saveUser" [(ngModel)]=checkBoxChecked></ion-checkbox>
                <ion-label id="savePassLbl" class="saveUser">Recordar usuario</ion-label>
            </ion-row>
            <ion-button id="loginButton" expand="block" (click)="LoginUser()" [disabled]="checkEmptyInputs()">Login
            </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-select mode="ios" [(ngModel)]="pickedName" interface="action-sheet" placeholder="Seleccione un usuario" (ionChange)="pickUser(pickedName)">
        <ion-select-option *ngFor="let usuario of users" value="{{usuario.mail}}">{{usuario.mail}}</ion-select-option>
    </ion-select>
    <div class="d-flex justify-content-center">
        <div class="spinner-border animated fadeIn" role="status" [hidden]=hideSpinner>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ion-content>
<ion-footer id="footer">
    <ion-toolbar>
        <ion-title id="footerContent">Carga instantanea - &copy; 2019</ion-title>
    </ion-toolbar>
</ion-footer>