#showPass {
    margin-bottom: 0.3rem;
    //--color: var(--ion-color-step-950);
}

#showPassToggle {
    --background: var(--ion-color-step-300);
    --handle-background: var(--ion-color-step-300);
    --handle-background-checked: var(--ion-secondary-background-color);
    --background-checked: var(--ion-secondary-light-color-step-100);
    bottom: 0.5rem;
}

ion-label {
    color: black;
    font-family: 'Montserrat Light';
}

#passInput {
    border-bottom: 0.1rem solid var(--ion-secondary-color-step-100);
    margin-bottom: 2rem;
    font-family: 'Montserrat Light';
}