<ion-app>
    <div *ngIf="showAnimation" class="splash" [class.flip-out-hor-top]="this.bounceOut == true">
        <div>
            <img class="imgFlag vivify driveInLeft duration-1500" src="../assets/flags/arg_splash.png" alt="">
            <img class="imgFlag vivify driveInTop delay-100 duration-1500" src="../assets/flags/eng_splash.png" alt="">
            <img class="imgFlag vivify driveInRight duration-2000" src="../assets/flags/br_splash.png" alt="">
        </div>
    </div>
    <ion-router-outlet></ion-router-outlet>
</ion-app>