<ion-header class="animated fadeIn">
  <ion-toolbar>
    <ion-title>
      <ion-button id='cerrarSesion' (click)="cerrarSesion()" >Cerrar sesion</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <ion-fab vertical="top" horizontal="start">
        <ion-fab-button (click)="playClick()" [class.pulse]="this.pickedLanguage == false">
          <ion-icon *ngIf="this.currentLanguageImgPath === '' else languageChoosen" name="globe"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button id="listButton" (click)="this.selectLanguage(language)" *ngFor="let language of this.languages">
            <img src="{{language.path}}">
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button (click)="playClick()" [class.pulse]="this.pickedElement == false">
          <ion-icon *ngIf="this.currentElementImgPath === '' else elementChoosen" name="star"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button id="listButton" (click)="this.selectElement(element)" *ngFor="let element of this.elements">
            <img src="{{element.path}}">
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
  <ion-grid [ngClass]="{'gridXs': this.isXs(), 'gridSm': !this.isXs()}" id="grid">
    <ion-row>
      <ion-col *ngFor="let animal of this.animals" size-xs="6" size-sm="4" size-md="3">
        <ion-card class="imgCard" [button]="true">
          <img id="CARDIMAGE" class="mx-auto d-block" src="{{animal.path}}" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ng-template #languageChoosen>
  <img src="{{this.currentLanguageImgPath}}">
</ng-template>

<ng-template #elementChoosen>
  <img src="{{this.currentElementImgPath}}">
</ng-template>