<div id="splash" #splash>
    <div id="title" #title>
        <p class='ion-text-center'>
            <span [ngStyle]="{'color': '#222428'}">Carga Ins</span>
            <span [ngStyle]="{'color': '#6200ee'}">tantánea</span>
        </p>
    </div>
    <div id="scanner" #scanner></div>
    <div id="logo">
        <img id="qr" src="assets/qr.png" alt="">
        <img id="money" src="assets/money.png" alt="" #money>
    </div>
    <div id="text" #text>
        <p class='ion-text-center'>
            <span [ngStyle]="{'color': '#222428'}">Agustín Gó</span>
            <span [ngStyle]="{'color': '#6200ee'}">mez - 4to B</span>
        </p>
    </div>
</div>