#showPass {
    --background: var(--ion-color-step-50);
    margin-bottom: 0.3rem;
    //--color: var(--ion-color-step-950);
}

#showPassToggle {
    --background: var(--ion-color-step-150);
    --handle-background: var(--ion-color-step-150);
    --handle-background-checked:  var(--ion-secondary-background-color);
    --background-checked: var( --ion-secondary-color-step-150);
    bottom: 0.5rem;
}

ion-label {
    color: var(--ion-color-step-950);
    font-family: 'Gotham';
}

#passInput {
    font-family: 'Gotham';
}

#formFieldPass
{
    width: 100%;
}

mat-label
{
    color:white;
}