#showPass {
    --background: var(--ion-color-step-50);
    margin-bottom: 0.3rem;
    //--color: var(--ion-color-step-950);
}

#showPassToggle {
    --background: var(--ion-color-step-150);
    --handle-background: var(--ion-color-step-150);
    --handle-background-checked:  var(--ion-secondary-background-color);
    --background-checked: var( --ion-secondary-color-step-150);
    bottom: 0.5rem;
}

ion-label {
    color: var(--ion-color-step-950);
    font-size: 160%;
    font-family: 'Billy';
}

#passInput {
    font-family: 'Billy';
    background-color: var(--ion-secondary-background-color);
    border-radius: 1rem;
    width: 100%;
    font-size: 160%;
    margin-bottom: 2%;
    padding: 0 2%;
    margin: 1rem 0;
    border-color: white;
    border-width: .2rem;
    color: white;
}

#formFieldPass
{
    width: 100%;
}

mat-label
{
    color:white;
}