<div id="background">
    <div #alert id="alert">
        <ion-text id="text" color="primary">
            <h1 class="ion-text-center">El teléfono debe estar apoyado horizontalmente para poder iniciar la aplicación.</h1>
        </ion-text>
        <img id="phoneAlert" src="assets/phone-alert.png" alt="" srcset="">
        <ion-button [ngStyle]="{'grid-area': 'closeButton', 'width': '65%', 'justify-self': 'center'}" expand="block" fill="solid" size="small" color="secondary" (click)="this.closeAlert()">Cerrar</ion-button>
    </div>
    <ion-button id="button" expand="block" fill="solid" size="large" (click)="toggleDeviceOrientation()">
        {{this.state.buttonText}}
    </ion-button>
</div>