#background {
    display: grid;
    grid-template-areas: "." "button" ".";
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: auto;
    height: 100%;
    background: rgb(26, 141, 255);
    background: linear-gradient(75deg, rgba(26, 141, 255, 1) 0%, rgba(0, 128, 255, 1) 42%, rgba(0, 113, 224, 1) 64%);
}

#button {
    grid-area: button;
    place-self: center;
    height: 85vw;
    width: 85vw;
    --border-radius: 100% !important;
    z-index: 1;
    --background-activated: transparent;
    --background-hover: var(--ion-color-secondary-contrast, #fff);
    --background-focused: var(--ion-color-secondary-contrast, #fff);
    --background-activated-opacity: 0;
    --background-focused-opacity: .24;
    --background-hover-opacity: .08;
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --background: var(--ion-color-secondary, #8000ff);
    --color: var(--ion-color-secondary-contrast, #fff);
}

#phoneAlert {
    grid-area: alertImage;
    place-self: center;
}

#alert {
    display: none;
    grid-template-areas: "upperText" "alertImage" "closeButton";
    grid-template-rows: 15% 75% 10%;
    position: absolute;
    background-color: #000000b0;
    height: 100%;
    z-index: 500;
    opacity: .5;
}

#text {
    grid-area: upperText;
    font-family: var(--ion-font-family);
}

#text>h1 {
    font-weight: 300;
}

@media(orientation: portrait) {
    #button {
        height: 85vw;
        width: 85vw;
    }
}

@media(orientation: landscape) {
    #button {
        height: 75vh;
        width: 75vh;
    }
}