<ion-grid fixed>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="6">
            <ion-text class="ion-text-center" color="secondary">
                <h1 id="title">Iniciar sesión</h1>
            </ion-text>
            <ion-row>
                <ion-col size="12">
                    <form [formGroup]="loginForm" id="loginForm">
                        <ion-item [ngStyle]="{'margin-bottom': '15px'}" class="form-field">
                            <ion-label class="input-label" position="stacked">Correo electrónico
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input class="form-input" mode="ios" required formControlName="userName" type="text"></ion-input>
                        </ion-item>
                        <ion-item class="form-field">
                            <ion-label class="input-label" position="stacked">Contraseña
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input class="form-input" mode="ios" required formControlName="password" type="{{this.passwordInputType}}"></ion-input>
                        </ion-item>
                    </form>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label class="controlLabel">Mostrar contraseña</ion-label>
                        <ion-toggle id="toggle" slot="start" mode="ios" (ionChange)="this.togglePasswordInput()"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label class="controlLabel" id="labelCheck">Recordar contraseña</ion-label>
                        <ion-checkbox id="check" slot="start" mode="ios" [checked]="this.rememberUser" (ionChange)="this.toggleRememberUser()"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button id="submitButton" block color="secondary" type="submit" mode="ios" (click)="this.login()" [disabled]="loginForm.invalid">
                        Ingresar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>