<ion-app>
    <div *ngIf="showAnimation" class="splash" [class.bounceOut]="this.bounceOut == true">
        <p class="vivify swoopInRight" *ngIf="this.text">ALARMA ANTIRROBO</p>
        <div>
            <img id="shield" src="../assets/shield.png" class="img-fluid bounceIn" [class.shake]="this.wobble == true" *ngIf="this.showShield">
            <img id="phone" src="../assets/phone.png" class="img-fluid bounceIn" *ngIf="this.showPhone">
        </div>
    </div>
    <ion-router-outlet></ion-router-outlet>
</ion-app>