<ion-item lines="none">
    <ion-label id="passLbl" position="floating">Contraseña</ion-label>
    <ion-input clearInput="true" type="{{type}}" required [(ngModel)]="password" id="passInput" (ionChange)="typePassword()"></ion-input>
    <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" [hidden]='!password' (click)='showPasswordMethod()'></ion-icon>

</ion-item>
<!-- <ion-row id='showPass'>
    <ion-toggle id="showPassToggle" (click)="showPasswordMethod()"></ion-toggle>
    <ion-label>Mostrar contraseña</ion-label>
</ion-row> -->