#showPass {
    margin-bottom: 0.3rem;
    //--color: var(--ion-color-step-950);
}

#passLbl {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat Light';
}

ion-item {
    all: unset;
    --background: rgba(255, 255, 255, 0);
}

#passInput {
    border-bottom: 0.1rem solid var(--ion-secondary-color-step-100);
    margin-bottom: 2rem;
    font-family: 'Montserrat Light';
}

.passwordIcon {
    font-size: 2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
}