// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --ion-background-color: #222428;
    --ion-background-color-rgb: 34, 36, 40;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #2d2f33;
    --ion-color-step-100: #383a3e;
    --ion-color-step-150: #434548;
    --ion-color-step-200: #4e5053;
    --ion-color-step-250: #595b5e;
    --ion-color-step-300: #646669;
    --ion-color-step-350: #6f7173;
    --ion-color-step-400: #7a7c7e;
    --ion-color-step-450: #858789;
    --ion-color-step-500: #919294;
    --ion-color-step-550: #9c9c9e;
    --ion-color-step-600: #a7a7a9;
    --ion-color-step-650: #b2b2b4;
    --ion-color-step-700: #bdbdbf;
    --ion-color-step-750: #c8c8c9;
    --ion-color-step-800: #d3d3d4;
    --ion-color-step-850: #dededf;
    --ion-color-step-900: #e9e9ea;
    --ion-color-step-950: #f4f4f4;

    --ion-secondary-background-color: #fe3e00;
    --ion-secondary-background-color-rgb: 254,62,0;
  
    --ion-secondary-text-color: #ffffff;
    --ion-secondary-text-color-rgb: 255,255,255;
  
    --ion-secondary-color-step-50: #fe480d;
    --ion-secondary-color-step-100: #fe511a;
    --ion-secondary-color-step-150: #fe5b26;
    --ion-secondary-color-step-200: #fe6533;
    --ion-secondary-color-step-250: #fe6e40;
    --ion-secondary-color-step-300: #fe784d;
    --ion-secondary-color-step-350: #fe8259;
    --ion-secondary-color-step-400: #fe8b66;
    --ion-secondary-color-step-450: #fe9573;
    --ion-secondary-color-step-500: #ff9f80;
    --ion-secondary-color-step-550: #ffa88c;
    --ion-secondary-color-step-600: #ffb299;
    --ion-secondary-color-step-650: #ffbba6;
    --ion-secondary-color-step-700: #ffc5b3;
    --ion-secondary-color-step-750: #ffcfbf;
    --ion-secondary-color-step-800: #ffd8cc;
    --ion-secondary-color-step-850: #ffe2d9;
    --ion-secondary-color-step-900: #ffece6;
    --ion-secondary-color-step-950: #fff5f2;
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

$colors: ( "dark": #444444, "background-dark": #121212, "dark-login": #1e1e1e);
@font-face {
    font-family: 'Gotham';
    src: url('../assets/Fonts/gotham_ssv/Gotham-Medium.otf');
    font-family: 'Gotham-Ultra';
    src: url('../assets/Fonts/gotham_ssv/GothamNarrow-Ultra.otf');
}