#cerrarSesion
{
    --background: var(--ion-secondary-background-color);
    --background-hover: var(--ion-secondary-color-step-100);
    --background-activated: var(--ion-secondary-color-step-250);
    --border-radius: 1rem;
}