  #ionContent {
      size: 100%;
      margin: 0;
      border: 0;
  }
  
  .container-fluid {
      background: linear-gradient(270deg, #00c7ce, #ff1507, #3b0eff, #a800e7);
      background-size: 800% 800%;
      width: inherit;
      height: inherit;
      height: 100%;
      width: 100%;
      padding-top: 1rem;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes AnimationName {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes AnimationName {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  #formLogin {
      margin-top: 1rem;
      --background: rgba(255, 255, 255, 0.747);
  }
  
  ion-item {
      all: unset;
      --background: rgba(255, 255, 255, 0);
  }
  
  #pickUser {
      background-color: rgba(255, 255, 255, 0.747);
  }
  
  .saveUser {
      margin-left: 1rem;
      --size: 1rem;
      font-size: 0.8rem;
  }
  
  #loginButton {
      margin-top: 2rem;
      --background: var(--ion-secondary-background-color);
      --background-hover: var(--ion-secondary-color-step-100);
      --background-activated: var(--ion-secondary-color-step-200);
      --background-focused: var(--ion-secondary-color-step-200);
  }
  
  #nameInput {
      border-bottom: 0.1rem solid var(--ion-secondary-color-step-100);
      margin-bottom: 1rem;
      font-family: 'Montserrat Light';
      color: black;
  }
  
  #savePass>ion-label {
      color: black;
  }
  
  #savePassCheck {
      --background: var(--ion-light-color-step-500);
      --background-checked: var(--ion-secondary-background-color);
      --border-color-checked: var(--ion-secondary-light-color-step-100);
      --border-color: var(--ion-light-color-step-400);
  }
  
  #formLogin>ion-label,
  #formLogin>ion-card-content>ion-label {
      color: black;
  }
  
  ion-label {
      color: black;
      font-family: 'Montserrat Light';
  }
  
  #footer {
      --background: rgba(255, 0, 0, 0);
      position: relative absolute;
      #footerContent {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          text-align: center;
          font-size: 1rem;
      }
  }
  
  #loader {
      --background: var(--ion-secondary-background-color);
      --progress-background: var(--ion-secondary-color-step-200);
      --buffer-background: var(--ion-secondary-color-step-100);
  }
  
  ion-select-option {
      background-color: red;
      --background: blue;
      --ion-background-color: yellow;
  }
  
  .list-md {
      background: red;
  }