#background {
    background-image: linear-gradient(to right, #03fb5a 50%, #03a4fb 50%);
    height: 100%;
    display: grid;
    grid-template-areas: ". title ." ". logo ." ". text .";
    grid-template-rows: 38% 19% 43%;
    grid-template-columns: 15% 70% 15%;
}

#logo {
    grid-area: logo;
    display: grid;
    place-self: center;
    grid-template-areas: "flag1 flag2 flag3";
    grid-template-columns: 33.3% 33.3% 33.3%;
}

h3 {
    grid-area: title;
    font-size: 60px;
    margin-top: 139px;
    color: var(--ion-color-tertiary);
    font-weight: 600;
}

p {
    grid-area: text;
    font-size: 40px;
    color: var(--ion-color-tertiary);
    margin-top: 10px;
}

#loro {
    position: absolute;
    width: 18%;
    bottom: 58%;
    left: 10%;
}

#tortuga {
    position: absolute;
    width: 20%;
    bottom: 44.5%;
    left: 12%;
    z-index: 2;
}

#jirafa {
    position: absolute;
    width: 55%;
    bottom: 48%;
    z-index: -1;
    right: 15%;
}

#leon {
    position: absolute;
    width: 36%;
    bottom: 44%;
    right: -7%;
    z-index: -1;
}